<%= form_for([:admin, @producto]) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre, :class => 'form-control-label' %><br>
    <%= f.text_field :nombre, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :descripcion, :class => 'form-control-label' %><br>
    <%= f.text_area :descripcion, :class => 'form-control', :rows => '10' %>
  </div>
  <div class="field">
    <%= f.label :foto_url, :class => 'form-control-label' %><br>
    <%= f.text_field :foto_url, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :precio, :class => 'form-control-label' %><br>
    <%= f.text_field :precio, :class => 'form-control', :type => 'number', :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :orden, :class => 'form-control-label' %><br>
    <%= f.text_field :orden, :class => 'form-control', :type => 'number' %>
  </div>
  <div class="field">
    <%= f.label :ciudadesMismoDia, :class => 'form-control-label' %><br>
    <%= f.text_field :ciudadesMismoDia, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
