<style type="text/css">
  .btn-personalizar:hover {
    background-color: blue;
  }
</style>

<div class="row">
  <% cart.items.each do |item| %>
  <div class="row" style="border-bottom: 1px solid lightgrey; margin-bottom:10px; padding-bottom:10px">
    <div class="col-xs-3">
      <a href="/productos/<%= item.producto.id %>">
          <img class="img-responsive" src="<%= item.producto.foto_url %>" />
      </a>
    </div>
    <div class="col-xs-6">
       <span style="font-size:medium; font-weight:bold">
        <%= item.producto.nombre %>
       </span><br />
       <% if item.producto.empaque && !item.producto.empaque.tapa_ids.empty? %>
         <button class="btn btn-primary btn-xs btn-personalizar" data-toggle="modal" data-target="#tapasModal"
                  onclick="setInputFieldsForTapa(<%= item.producto.id %>); filterTapas('<%= item.producto.empaque.tapa_ids %>')">
                  ELEGIR DISEÑO DE REGALO <i class="fas fa-pencil-alt"></i>
          </button>
        <% end %>
       <div>
        <%= link_to remove_all_from_cart_path(:product_id => item.producto.id), :style=>'color: gray; font-size: small', :method => :post,  data: { confirm: 'Se eliminará el producto de su pedido' } do%>
        <span style="font-size:x-small; color:grey; margin-right:5px">Elimina Regalo</span>        
        <% end %>
        <a style="font-size:x-small; color:blue" href="<%= productos_path %>">Agrega Regalo</a>
      </div>
    </div>
    <div class="col-xs-3">
      <% if item.producto.empaque && !item.producto.empaque.tapa_ids.empty? %>
        <% if item.tapa_personalizada %>
          <a href="" data-toggle="modal" data-target="#tapasModal" style="border:none"
            onclick="setInputFieldsForTapa(<%= item.producto.id %>, <%= item.tapa_personalizada.tapa.id %>, '<%= j item.tapa_personalizada.variables %>'); filterTapas('<%= item.producto.empaque.tapa_ids %>')">
              <img class="img-responsive" src="<%= item.tapa_personalizada.tapa.url %>" />
          </a>
        <% end %>
      <% else %>
      <% end %>  
    </div> 
  </div>
  <% end %>
</div>


<script type="text/javascript">
  function setInputFieldsForTapa(productId, tapaId, variables){
    $('#productIdHidden').val(productId);
    $('#tapa' + tapaId).prop("checked", true);
    $('#variablesTapaInput').val(variables);
  }

  function filterTapas(tapaIds){
    toShow = tapaIds.split(',').map(id => '#divTapa' + id).join(',');
    $('.tapa').hide();
    $(toShow).show();
  }
</script>