<% cart.items.each do |item| %>
  <div class="row" style="margin-bottom: 5px; padding-bottom: 5px">

    <div style="width:20%; float: left;  margin-right: 5%;  border: solid gray 1px; padding: 3px; color: black">
      <a href="productos/<%= item.producto.id %>">
            <img src="<%= item.producto.foto_url %>" class="img-responsive" alt=""/>
          </a>
    </div>

    <div style="float: left; width: 20%; margin-right: 5%; margin-top: 2%">
      <a href="productos/<%= item.producto.id %>" style="color: black; font-size: smaller">
        <%= item.producto.nombre %>
      </a>
      <br/>
      <%= link_to remove_all_from_cart_path(:product_id => item.producto.id), :style=>'color: gray; font-size: small', :method => :post,  data: { confirm: 'Se eliminirá el producto de su pedido' } do%>
        <span style="font-size:x-small; color:red">eliminar</span>
        <% end %>
    </div>

  <% if item.producto.empaque && item.producto.empaque.tapa_ids %>
  	<% if item.tapa_personalizada %>
  	  <div style="float: left; width: 20%; margin-right: 5%; text-align: center;">
  		<button class="btn" data-toggle="modal" data-target="#tapasModal"
            onclick="setInputFieldsForTapa(<%= item.producto.id %>, <%= item.tapa_personalizada.tapa.id %>, '<%= j item.tapa_personalizada.variables %>'); filterTapas('<%= item.producto.empaque.tapa_ids %>')">
            <div style="border: solid gray 1px; padding: 3px; color: black">
            	<img class="img-responsive" style="width:10" src="<%= item.tapa_personalizada.tapa.url %>" />
    		  </div>
          </button>
  	  </div>
  	<% else %>
  	  <div style="float: left; width: 20%; margin-right: 5%; text-align: center; margin-top: 2%">
    		<button class="btn btn-warning" data-toggle="modal" data-target="#tapasModal"
            onclick="setInputFieldsForTapa(<%= item.producto.id %>); filterTapas('<%= item.producto.empaque.tapa_ids %>')">
            Ver Opciones
        </button>
      </div>
    <% end %>
  <% else %> 
    <div style="float: left; width: 20%; margin-right: 5%; text-align: center;">&nbsp;</div>
  <% end %> 

    <div style="float: left; width: 20%; margin-right: 5%; text-align: center; margin-top: 2%">
      <span style="margin-left:10px" class="reducedfrom"><%= item.producto.precio_original %></span>
      <%= item.producto.precio %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  function setInputFieldsForTapa(productId, tapaId, variables){
    $('#productIdHidden').val(productId);
    $('#tapa' + tapaId).prop("checked", true);
    $('#variablesTapaInput').val(variables);
  }

  function filterTapas(tapaIds){
    toShow = tapaIds.split(',').map(id => '#divTapa' + id).join(',');
    $('.tapa').hide();
    $(toShow).show();
  }
</script>