<div class="main">
  <div class="shop_top" style="padding: 1% 0">
    <div class="container">
      <% if @cart %>
        <div class="container itemsCart" style="margin:20px 2px;">
          <%= render partial: 'items', locals: {cart: @cart} %>
        </div>

        <%= form_tag("/cart", method: "post") do %>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <h5>Completa tu orden</h5>
            <div class="to" style="width: 100%">
              <span style="font-size:xx-small;color:grey">Fecha entrega</span>
              <input type="text" autocomplete="off" name="fecha_entrega" class="text datepicker" value="<%= @fe %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Fecha Entrega';}"><br />
              <span style="font-size:xx-small;color:grey">Destinatario</span>
              <input type="text" name="nombre_entrega" class="text" value="<%= @ea %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Entregar a';}">
              <div style="font-size:xx-small;color:grey;clear:both">Celular Destinatario</div>
              <input type="text" name="telefono_receptor" class="text" value="<%= @cd %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Celular Destinatario';}">
            </div>
            <div class="text" style="width: 95%">
              <select id ="sectorSelect" name="sector" class="form-control" onchange="changeSector()">
                    <option value="" <% if @se.eql?('')%> selected <% end %>>Sector Entrega</option>
                    <optgroup label="Quito">
                      <% Sector::quito.each do |sector| %>
                        <option <% if @se.eql?(sector.id)%> selected <% end %> value="<%= sector.id %>"><%= sector.nombre %></option>
                      <% end %>
                    </optgroup>
                    <option <% if @se.eql?('O')%> selected <% end %> value="O">Otra Ciudad</option>
                  </select>

              <select id="horarioEntregaSelect" name="horario_entrega" class="form-control" style="margin-top: 10px">
                    <option value="" <% if @he.eql?('')%> selected <% end %>>Horario Entrega</option>
                    <% HorarioEntrega::todos.each do |horario| %>
                      <option <% if @he.eql?(horario.id)%> selected <% end %> value="<%= horario.id %>"><%= horario.nombre %></option>
                    <% end %>
                  </select>

              <span style="font-size:xx-small;color:grey">Dirección de entrega</span>
              <textarea name="direccion" value="<%= @de %>" onfocus="if(this.value == 'Dirección de entrega')this.value = '';" onblur="if (this.value == '') {this.value = 'Dirección de entrega';}"><%= @de %></textarea>
              <span style="font-size:xx-small;color:grey">Notas Adicionales</span>
              <textarea name="instrucciones" value="<%= @ie %>" onfocus="if(this.value == 'ej.: Letra L para mi vaso personalizado (Depende de regalo). Dejar regalo en portería. Notificar entrega. etc.')this.value = '';"
                onblur="if (this.value == '') {this.value = 'ej.: Letra L para mi vaso personalizado (Depende de regalo). Dejar regalo en portería. Notificar entrega. etc.';}"><%= @ie %></textarea>
            </div>
          </div>
          
          <div class="col-md-5">
            <h5>Información para la tarjeta del regalo</h5>
            <div class="to" style="width: 100%">
              <span style="font-size:xx-small;color:grey">De:</span><br>
              <input type="text" name="nombre_de" class="text" value="<%= @nde %>" onfocus="this.value = '';" onblur="if (
              this.value == '') {this.value = 'De parte de';}">
            </div>
            <div class="to" style="width: 100%">  
              <span style="font-size:xx-small;color:grey">Para:</span><br>
              <input type="text" name="nombre_para" class="text" value="<%= @npara %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Para';}">
            </div>
            <div class="text" style="width: 95%">
              <span style="font-size:xx-small;color:grey">Mensaje</span>
              <textarea name="mensaje" value="<%= @mt %>" onfocus="if(this.value == 'Mensaje de tarjeta')this.value = '';" onblur="if (this.value == '') {this.value = 'Mensaje de tarjeta';}"><%= @mt %></textarea>
              </div>
            <h5>Tus datos</h5>
            <div class="to" style="width: 100%;margin-bottom: 15px">
              <% if current_usuario %>
                <span style="font-size:xx-small;color:grey">Email</span>
                <input type="text" class="text" value="<%= current_usuario.email %>" disabled><br>
                <span style="font-size:xx-small;color:grey">Nombre</span>
                <input type="hidden" name="email" value="<%= current_usuario.email %>"><br>
                <input type="text" name="nombre" class="text" value="<%= current_usuario.nombre_completo %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '<%= current_usuario.nombre_completo %>';}">
                <% else %>
                <span style="font-size:xx-small;color:grey">Email</span>
                  <input type="text" name="email" class="text" value="<%= @email %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"><br>
                  <span style="font-size:xx-small;color:grey">Nombre</span>
                  <input type="text" name="nombre" class="text" value="<%= @nombre %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nombre';}"><br>
                  <% end %>
                  <span style="font-size:xx-small;color:grey">Celular</span>
                    <input type="text" name="telefono" class="text" value="<%= @telefono %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Teléfono';}">
            </div>
            <h5>Forma de Pago</h5>
              <div class="text" style="width: 95%; margin-bottom:15px">
              <select class="form-control" name="forma_pago">
                <option value="T">Transferencia</option>
                <option value="D">Depósito</option>
                <option value="E">Efectivo</option>
                <option value="PP">PayPal</option>
                <option value="TC">Tarjeta de Crédito</option>
              </select>
            </div>
            
          </div>
          <br>
          <div class="col-md-12" style="border-top:1px solid grey; padding-top:10px;clear:both">
           <h5>Personaliza tu regalo</h5>
         </div>
          <div class="container itemsCart" style="margin:20px 2px;">
            <%= render partial: 'items', locals: {cart: @cart} %>
          </div>

            <div style="width: 95%; margin-bottom:15px">
              <script>
                submited = false
              </script>

              <button class="btn btn-block btn-primary btn-lg" name="submit" type="submit" id="submit" value="REALIZAR PEDIDO" onclick="if(submited)return false; {this.value='Enviando pedido...'; submited=true};">REALIZAR PEDIDO</button>
            </div>
        <% end %>

        <div class="col-md-1"></div>
            <% else %>
              No has añadido ningún producto
                <div style="width: 100%; clear: both" />
                <%= render 'otros_productos' %>
    </div>
              <% end %>

  </div>
</div>

<style type="text/css">
  .input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px orange;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 1px dashed #444;
}

/*
 | //lea.verou.me/css3patterns
 | Because white bgs are boring.
*/
html {
  background-color: #fff;
  background-size: 100% 1.2em;
  background-image: 
    linear-gradient(
      90deg, 
      transparent 79px, 
      #abced4 79px, 
      #abced4 81px, 
      transparent 81px
    ),
    linear-gradient(
      #eee .1em, 
      transparent .1em
    );
}
</style>



<div class="modal fade" id="tapasModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for(@tapa, remote: true, url: add_tapa_personalizada_path) do |f| %>
      <input id="productIdHidden" type="hidden" name="product_id" />
      <div class="modal-content">
        <div class="modal-header">
         
          <h5 class="modal-title" id="myModalLabel">Escoge un diseño y da click en Guardar</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <% Tapa.all.each do |tapa| %>
              <div class="col-sm-6 tapa" id="divTapa<%= tapa.id %>">
                <input value="<%= tapa.id %>"
                  type="radio" name="tapa_id" 
                  id="tapa<%= tapa.id %>" class="input-hidden" />
                <label for="tapa<%= tapa.id %>"
                    onclick="selectTapa('<%= tapa.id %>')">
                  <img class="img-responsive" style="margin:auto;"
                    src="<%= tapa.url %>" 
                    alt="<%= tapa.nombre %>" />
                </label>
                <div id="tapaVariables_<%= tapa.id %>" class="form-group row tapa-variables">
                  <span style="font-size:small; color:grey">Escribe aquí como personalizamos tu empaque: </span>
                  <% tapa.variables.split(',').each do |variable| %>
                    <div class="col-4" style="font-size:xx-small"><%= variable %></div>
                    <div class="col-8">
                      <input type="text" class="form-control" id="tapa_<%= tapa.id %>_<%= variable %>" name="tapa_<%= tapa.id %>_<%= variable %>">
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
            </div>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function selectTapa(tapaId){
    $('.tapa-variables').hide();
    $('#tapaVariables_'+tapaId).show();
  }
</script>

<style>
  #map {
    height: 80%;
    margin: 0;
    position: relative;
  }

  #mapPin {
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-left: -25px;
    z-index: 1;
    position: relative;
    display: block;
    content: ' ';
    top: 50%;
    left: 50%;
    background: url('https://www.circleofash.com/wp-content/uploads/2016/08/square_map_marker_centered.png');
    background-size: 50px;
  }

  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    height: 30px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #target {
    width: 345px;
  }
</style>

<script>
  function changeSector(){
    if ($('#sectorSelect').val() === 'O') { 
      $('#horarioEntregaSelect').val('')
      $('#horarioEntregaSelect').css("visibility", "hidden"); 
    }
    else 
      $('#horarioEntregaSelect').css("visibility", "visible")
  }

  changeSector();

  $('.datepicker').datepicker({
    dateFormat: 'yy-mm-dd'
  });

  function initMapWithPosition(pos) {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: pos,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      rotateControl: false,
      fullscreenControl: false
    });

    document.getElementById('punto_entrega').value = map.getCenter().lat() + ';' + map.getCenter().lng();


    // var marker = new google.maps.Marker({
    //     position: pos,
    //     map: map
    // });

    google.maps.event.addListener(map, 'center_changed', function () {
      // marker.setPosition( map.getCenter()); 
      document.getElementById('punto_entrega').value = map.getCenter().lat() + ';' + map.getCenter().lng();
    }
    );

    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    map.addListener('bounds_changed', function () {
      searchBox.setBounds(map.getBounds());
    });

    searchBox.addListener('places_changed', function () {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        alert('OOPS! No encontramos esa ubicación. Prueba de nuevo y ubica el punto exacto de entrega');
        return;
      }

      var bounds = new google.maps.LatLngBounds();
      places.forEach(function (place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }

        if (place.geometry.viewport) {
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });
  }

  function initMap() {
    var quito = { lat: -0.1807, lng: -78.4678 };
    var ubicacion = document.getElementById('punto_entrega').value;
    
    if(ubicacion != ''){
      var pos = { lat: parseFloat(ubicacion.split(';')[0]), lng: parseFloat(ubicacion.split(';')[1]) }
      initMapWithPosition(pos);
    } else {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          initMapWithPosition(pos);
        }, function onError(error) {
          initMapWithPosition(quito);
        });
      } else {
        initMapWithPosition(quito);
      }
    }    
  }

  function stopEnterKey(evt) {
    var evt = (evt) ? evt : ((event) ? event : null);
    var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
    if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
  }
  document.onkeypress = stopEnterKey;

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbh1ZeD5jJGpl9J06bESFN5t9tAQpkeaw&libraries=places&callback=initMap">

</script>