<div class="main">
  <div class="shop_top" style="padding: 1% 0">
    <div class="container">
      <% if @cart %>
        <div style="float: left; max-width: 700px">
          <div class="row" style="margin-bottom: 20px; height: 20px; color: gray; font-weight: bold; font-size: smaller">
            <div style="float: left; width: 15%; margin: 0 5% 0 20%">
              Producto
            </div>

            <div style="float: left; width: 15%; margin: 0 5% 0 0; text-align: center">
              Cantidad
            </div>

            <div style="float: left; width: 15%; margin-right: 5%; text-align: center;">
              Precio
            </div>

            <div style="float: left; width: 15%; margin-right: 5%; text-align: center; color: #E25050">
              Total
            </div>
          </div>
          <% @cart.items.each do |item| %>
            <div class="row" style="margin-bottom: 5px; padding-bottom: 5px">

              <div style="width:15%; float: left;  margin-right: 5%;  border: solid gray 1px; padding: 3px; color: black">
                <a href="productos/<%= item.producto.id %>">
                      <img src="<%= item.producto.foto_url %>" class="img-responsive" alt=""/>
                    </a>
              </div>

              <div style="float: left; width: 15%; margin-right: 5%; margin-top: 2%">
                <a href="productos/<%= item.producto.id %>" style="color: black; font-size: smaller">
                  <%= item.producto.nombre %>
                </a>
                <br/>
                <%= link_to remove_all_from_cart_path(:product_id => item.producto.id), :style=>'color: gray; font-size: small', :method => :post,  data: { confirm: 'Se eliminirá el producto de su pedido' } do%>
                  <span style="font-size:x-small; color:red">eliminar</span>
                  <% end %>
              </div>

              <div style="float: left; width: 15%; margin-right: 5%; text-align: center; margin-top: 2%">
                <% if item.cantidad > 1 %>
                  <%= link_to remove_from_cart_path(:product_id => item.producto.id), :method => :post do %>
                    <img src="/images/minus.png" style="width: 15px">
                    <% end %>
                      <% end %>

                        <%= item.cantidad %>

                          <% if item.cantidad < 10 %>
                            <%= link_to add_to_cart_path(:product_id => item.producto.id), :method => :post do %>
                              <img src="/images/plus.png" style="width: 15px">
                              <% end %>
                                <% end %>

              </div>

              <div style="float: left; width: 15%; margin-right: 5%; text-align: center; margin-top: 2%">
                <span style="margin-left:10px" class="reducedfrom"><%= item.producto.precio_original %></span>
                <%= item.producto.precio %>
              </div>

              <div style="float: left; width: 15%; margin-right: 5%; text-align: center; margin-top: 2%; font-weight: bold">
                <span style="margin-left:10px" class="reducedfrom"><%= item.total_original %></span>
                <%= item.total %>
              </div>
            </div>
            <% end %>
        </div>

        <div style="float: left; max-width:400px">
          <div style="margin-bottom: 20px">
            <div class="box-info-product" style="margin-bottom:0px">
              <p class="price2">
                <label style="font-size: 0.7em; font-weight: 100; margin-right: 10px">Total: </label>
                <span style="margin-left:10px" class="reducedfrom">$<%= @cart.total_original %></span> $
                <%= @cart.total %>
              </p>
            </div>
          </div>
          <%= link_to '¿Quieres más productos?', productos_path %>
        </div>
        <div class="clear"> </div>

        <%= form_tag("/cart", method: "post") do %>
          <div style="float:left; max-width:500px; margin-top:30px">
            <h4>Datos de entrega</h4>
            <div class="to" style="width: 100%">
              <input type="text" name="fecha_entrega" class="text datepicker" value="<%= @fe %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Fecha Entrega';}">
              <input type="text" name="nombre_entrega" class="text" value="<%= @ea %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Entregar a';}">
            </div>
            <div class="text" style="width: 95%">
              <select name="sector" class="form-control">
                    <option value="" <% if @se.eql?('')%> selected <% end %>>Sector Entrega</option>
                    <optgroup label="Quito">
                      <% Sector::quito.each do |sector| %>
                        <option <% if @se.eql?(sector.id)%> selected <% end %> value="<%= sector.id %>"><%= sector.nombre %></option>
                      <% end %>
                    </optgroup>
                    <option <% if @se.eql?('O')%> selected <% end %> value="O">Otra Ciudad</option>
                  </select>

              <select name="horario_entrega" class="form-control" style="margin-top: 10px">
                    <option value="" <% if @he.eql?('')%> selected <% end %>>Horario Entrega</option>
                    <% HorarioEntrega::todos.each do |horario| %>
                      <option <% if @he.eql?(horario.id)%> selected <% end %> value="<%= horario.id %>"><%= horario.nombre %></option>
                    <% end %>
                  </select>

              <textarea name="direccion" value="<%= @de %>" onfocus="if(this.value == 'Dirección de entrega')this.value = '';" onblur="if (this.value == '') {this.value = 'Dirección de entrega';}"><%= @de %></textarea>
              <textarea name="instrucciones" value="<%= @ie %>" onfocus="if(this.value == 'Instrucciones de entrega')this.value = '';"
                onblur="if (this.value == '') {this.value = 'Instrucciones de entrega';}"><%= @ie %></textarea>

              <div style="height:400px; display:block">
                <input type="hidden" id="puntoEntrega" style="width:500px">
                <input id="pac-input" class="controls" type="text" placeholder="Ubica el punto de entrega">
                <div id="mapPin"></div>
                <div id="map"></div>
              </div>

              <div style="height:10px; display:block"></div>
            </div>

          </div>

          <div style="float:left; max-width:500px; margin-top:30px">
            <h4>Información para la tarjeta</h4>
            <div class="to" style="width: 100%">
              <input type="text" name="nombre_de" class="text" value="<%= @nde %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'De parte de';}">
              <input type="text" name="nombre_para" class="text" value="<%= @npara %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Para';}">
            </div>
            <div class="text" style="width: 95%">
              <textarea name="mensaje" value="<%= @mt %>" onfocus="if(this.value == 'Mensaje de tarjeta')this.value = '';" onblur="if (this.value == '') {this.value = 'Mensaje de tarjeta';}"><%= @mt %></textarea>
            </div>
            <h4>Tus datos</h4>
            <div class="to" style="width: 100%;margin-bottom: 15px">
              <% if current_usuario %>
                <input type="text" class="text" value="<%= current_usuario.email %>" disabled>
                <input type="hidden" name="email" value="<%= current_usuario.email %>">
                <input type="text" name="nombre" class="text" value="<%= current_usuario.nombre_completo %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '<%= current_usuario.nombre_completo %>';}">
                <% else %>
                  <input type="text" name="email" class="text" value="<%= @email %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                  <input type="text" name="nombre" class="text" value="<%= @nombre %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nombre';}">
                  <% end %>
                    <input type="text" name="telefono" class="text" value="<%= @telefono %>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Teléfono';}">
            </div>
            <h4>Forma de Pago</h4>
            <div class="to" style="width: 100%; margin-bottom: 15px; font-size: smaller">
              <label class="radio-inline"><input type="radio" name="forma_pago" value="T" checked="checked">Transferencia</label>
              <label class="radio-inline"><input type="radio" name="forma_pago" value="D">Depósito</label>
              <label class="radio-inline"><input type="radio" name="forma_pago" value="E">Efectivo</label>
              <label class="radio-inline"><input type="radio" name="forma_pago" value="PP">PayPal</label>
              <label class="radio-inline"><input type="radio" name="forma_pago" value="TC">Tarjeta de Crédito</label>
            </div>
            <div class="form-submit">
              <script>
                submited = false
              </script>
              <input name="submit" type="submit" id="submit" value="Continuar" onclick="if(submited)return false; {this.value='Enviando pedido...'; submited=true};"><br>
            </div>
          </div>

          <% end %>
            <% else %>
              No has añadido ningún producto
              <% end %>
                <div style="width: 100%; clear: both" />
                <%= render 'otros_productos' %>
    </div>

  </div>
</div>

<style>
  #map {
    height: 80%;
    margin: 0;
    position: relative;
  }

  #mapPin {
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-left: -25px;
    z-index: 1;
    position: relative;
    display: block;
    content: ' ';
    top: 50%;
    left: 50%;
    background: url('https://www.circleofash.com/wp-content/uploads/2016/08/square_map_marker_centered.png');
    background-size: 50px;
  }

  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    height: 30px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #target {
    width: 345px;
  }
</style>

<script>
  $('.datepicker').datepicker({
    dateFormat: 'yy-mm-dd'
  });

  function initMap() {
    var quito = { lat: -0.1807, lng: -78.4678 };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: quito,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      rotateControl: false,
      fullscreenControl: false
    });

    // var marker = new google.maps.Marker({
    //     position: quito,
    //     map: map
    // });

    google.maps.event.addListener(map, 'center_changed', function () {
      // marker.setPosition( map.getCenter()); 
      document.getElementById('puntoEntrega').value = map.getCenter().lat() + ';' + map.getCenter().lng();
    }
    );

    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    map.addListener('bounds_changed', function () {
      searchBox.setBounds(map.getBounds());
    });

    searchBox.addListener('places_changed', function () {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        alert('OOPS! No encontramos esa ubicación. Prueba de nuevo y ubica el punto exacto de entrega');
        return;
      }

      var bounds = new google.maps.LatLngBounds();
      places.forEach(function (place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }

        if (place.geometry.viewport) {
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });
  }

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbh1ZeD5jJGpl9J06bESFN5t9tAQpkeaw&libraries=places&callback=initMap">

</script>