<div class="main">
  <div class="shop_top">
    <div class="container">
      <h3>REGISTRO</h3><br />
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="col-md-6">
          <div class="login-page">
            <h4 class="title">Informacion Personal</h4>
            <div class="loginbox">
              <fieldset class="input">
                <p>
                  <label>Nombre *</label>
                  <%= f.text_field :nombre, class: "inputbox", autocomplete: "off", size: "18" %>
                </p>
                <p>
                  <label>Apellido</label>
                  <%= f.text_field :apellido, class: "inputbox", autocomplete: "off", size: "18" %>
                </p>
                <p>
                  <label>Fecha de Nacimiento</label><br>
                  <%= f.date_select :fecha_nacimiento, start_year:1950, autocomplete: "off", size: "18" %>
                </p>
              </fieldset>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="col-md-6">
          <div class="login-page">
            <h4 class="title">Informacion de Cuenta</h4>
            <div class="loginbox">
              <fieldset class="input">
                <p>
                  <label>Email *</label>
                  <%= f.email_field :email, class: "inputbox", autocomplete: "off", size: "18" %>
                </p>
                <p>
                  <label for="modlgn_passwd">Password (<%= @minimum_password_length %> caracteres mínimo) *</label>
                  <%= f.password_field :password, class: "inputbox", size: "18" %>
                </p>
                <p>
                  <label for="modlgn_passwd">Repita el Password *</label>
                  <%= f.password_field :password_confirmation, class: "inputbox", size: "18" %>
                </p>
                <div class="remember">
                  <%= recaptcha_tags %>
                  <div class="clear"></div><br />
                  <%= f.submit "Registrar"  %>

                </div>
              </fieldset>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>