<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style>
      .cabecera{
        width: 100%;
        border-radius: 8px 8px 0 0;
        background-color: #EEEEEE;
        overflow: hidden;
        padding: 10px;
        font-size: smaller;
      }

      .columna{
        width: 30%;
        float: left;
        text-align: center;
      }

      .item{
        overflow: hidden;
        margin-bottom: 20px;
      }

      .contenido{
        overflow: hidden;
        padding: 20px;
        font-size: smaller;
      }
    </style>
  </head>
  <body>
  <h1>Hola <%= @pedido.nombre %></h1>
  <h2>Tu pedido fue realizado con éxito, en un instante nos comunicaremos contigo</h2>
  <h2>Puedes ver todos tus pedidos <a href="http://regalosmalebox.com/pedidos">aquí</a></h2>
  <h2>Detalle del Pedido</h2>
  <h2><a href="http://regalosmalebox.com/pedidos/<%= @pedido.id %>">VER PEDIDO</a></h2>
  <div style="width: 70%; float: left; margin-bottom: 20px">
    <p style="font-size: smaller">
      EC-MBG-00<%= @pedido.id %><br />
      Pedido realizado el <b><%= @pedido.fecha %></b>
      por <b><%= @pedido.nombre %></b><br />
      Contacto <b><%= @pedido.email %></b> -
      <b><%= @pedido.telefono %></b><br />
      Forma de Pago: <b><%= @pedido.forma_pago_str %></b><br />
      <br />
      Entregar el pedido a <b><%= @pedido.nombre_entrega %></b>
      el <b><%= @pedido.fecha_entrega %></b><br />
      en la dirección: <b><%= @pedido.direccion_entrega %> <a target="_blank" href="<%= @pedido.ubicacion %>" >Ver en mapa</a></b>
      en el sector: <b><%= Sector.find(@pedido.sector_entrega).nombre %></b><br />
      entre las <b><%= HorarioEntrega.find(@pedido.horario_entrega).nombre %></b> horas
      Instrucciones de Entrega: <b><%= @pedido.instrucciones_entrega %></b><br />
      <br/>
      Tarjeta:
      De parte de <b><%= @pedido.de %></b>
      Para <b><%= @pedido.para %></b> <br />
      <b><%= @pedido.mensaje %></b>
    </p>
  </div>
  <div class="columna" sstyle="max-width: 300px;">
    <b>ESTADO</b><br />
    <div><%= @pedido.estado.capitalize %></div>
  </div>

  <div class="cabecera" style="margin: 20px 0;background-color: transparent; border: 1px #EEEEEE solid">
    <div style="float: right; text-align: center">
      <b>RESUMEN</b><br /><br />
      <div style="text-align: right; float: right; margin: 0 40px;">
        $ <%= @pedido.total_items %><br />
        $ <%= @pedido.total_descuento.to_f %><br />
        $ <%= @pedido.costo_entrega.to_f %><br />
        <% if @pedido.total_tapas.to_f > 0 %>
          $ <%= @pedido.total_tapas.to_f %><br />
        <% end %>
        $ 0.0<br />
        <br /><b>$ <%= @pedido.total %></b>
      </div>
      <div style="text-align: left; float: right">
        Productos:<br />
        Descuento:<br />
        Entrega: <br />
        <% if @pedido.total_tapas.to_f > 0 %>
          Tapas Personalizadas: <br />
        <% end %>
        Impuestos: <br />
        <br /><b>TOTAL:</b>
      </div>

    </div>
    <div class="contenido">
      <% @pedido.items_json.each do |item| %>
          <br />
          <div class="item">

            <div style="float: left; width: 15%; min-width: 105px">
              <a href="/productos/<%= item.producto.id %>">
                <img src="<%= item.producto.foto_url %>" style="width: 90%; min-width: 100px"/>
              </a>
            </div>

            <% if item.tapa_personalizada %>
              <div style="float: left; width: 15%; min-width: 105px">
                <img src="<%= item.tapa_personalizada.tapa.url %>" style="width: 60%;min-width: 80px/> 
              </div>
            <% end %>

            <div style="float: left; margin-top: 10px">
              <div>
                <a href="/productos/<%= item.producto.id %>">
                  <%= item.cantidad %> caja<%if item.cantidad > 1 %>s<% end %> de <%= item.producto.nombre %>
                </a><br>
                <% if item.tapa_personalizada %>
                  <div style="color: grey; font-size: smaller">
                    Diseño: <%= item.tapa_personalizada.tapa.nombre %> <br/><i>(<%= item.tapa_personalizada.variables %>)</i>
                  </div>
                <% end %>
              </div>
              <div style="color: grey; font-size: smaller">
                precio: $ <%= ((item.producto.precio.to_f * 1.06).round(0) * item.cantidad.to_i).round(2) %>
              </div>
              <% if !@pedido.forma_pago.eql?('TC') %>
                  <div style="color: black">
                    con descuento: $ <%= '%.2f' % (item.producto.precio.to_f * item.cantidad.to_i).round(2) %>
                  </div>
              <% end %>
              <div>

              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  </body>
</html>