<%= form_for(@cosa) do |f| %>
  <% if @cosa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cosa.errors.count, "error") %> prohibited this cosa from being saved:</h2>

      <ul>
      <% @cosa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :cantidad_minima %><br>
    <%= f.number_field :cantidad_minima, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
