<p id="notice"><%= notice %></p>

<h1>Listing Cosas</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cosas.each do |cosa| %>
      <tr>
        <td><%= cosa.nombre %></td>
        <td><%= cosa.url %></td>
        <td><%= link_to 'Show', cosa %></td>
        <td><%= link_to 'Edit', edit_cosa_path(cosa) %></td>
        <td><%= link_to 'Destroy', cosa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cosa', new_cosa_path %>
