<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cosa.nombre %>
</p>

<p>
  <strong>Cantidad Mínima:</strong>
  <%= @cosa.cantidad_minima %>
</p>

<p>
  <strong>Url:</strong>
  <%= @cosa.url %>
</p>

<%= link_to 'Edit', edit_cosa_path(@cosa) %> |
<%= link_to 'Back', cosas_path %>
