<p id="notice"><%= notice %></p>

<h1>Listado de Pedidos</h1>

<div id="filtros" class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-3">
      <%= link_to 'Desde hoy', pedidos_path(from: (Date.today).to_s), class:'btn btn-primary btn-block' %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Para HOY', pedidos_path(from: (Date.today).to_s, to: (Date.today + 1.days).to_s), class:'btn btn-success btn-block' %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Para Mañana', pedidos_path(from: (Date.today + 1.days).to_s, to: (Date.today + 2.days).to_s), class:'btn btn-warning btn-block' %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Para los prox. 7 Días', pedidos_path(from: (Date.today).to_s, to: (Date.today + 7.days).to_s), class:'btn btn-info btn-block' %>
    </div>
  </div>
  <div class="panel-body">
      <form action="<%= pedidos_path %>" autocomplete="off">
          <div class="col-md-3">
            <label class="col-form-label-sm">Estado</label>
            <select class="form-control" name="estado">
                <option value="">TODOS</option>
              <% @estados.each do |estado| %>
                <option <% if @estado.eql?(estado)%> selected <% end %> value="<%= estado.upcase %>"><%= estado.upcase %></option>
              <% end %>
              </select>
          </div>
          <div class="col-md-3">
            <label class="col-form-label-sm">Desde</label>
            <input class="form-control datepicker" type="text" name="from" value="<%= @from %>" />
          </div>
          <div class="col-md-3">
            <label class="col-form-label-sm">Hasta</label>
            <input class="form-control datepicker" type="text" name="to" value="<%= @to %>" />
          </div>
          <div class="col-md-3">
            <label class="col-form-label-sm"></label>
            <button type="submit" class="btn btn-block" style="background-color:lightgrey">Buscar</button>
          </div>
      </form>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Fecha</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">Sector entrega</th>
      <th scope="col">Direccion entrega</th>
      <th scope="col">Instrucciones entrega</th>
      <th scope="col">Fecha entrega</th>
      <th scope="col">Horario de entrega</th>
      <th scope="col">Estado</th>
      <th scope="col">Items</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td class="col-md-1"><%= pedido.id %></td>
        <td class="col-md-1"><%= pedido.fecha %></td>
        <td class="col-md-1"><%= pedido.nombre %></td>
        <td class="col-md-1"><%= pedido.telefono %></td>
        <td class="col-md-1"><%= pedido.sector_entrega %></td>
        <td class="col-md-1">
          <%= pedido.direccion_entrega %>
          <a href="https://www.google.com/maps/search/<%= pedido.direccion_entrega %>" target="_blank">Ver Mapa</a>
        </td>
        <td class="col-md-1"><%= pedido.instrucciones_entrega %></td>
        <td class="col-md-1"><%= pedido.fecha_entrega.to_s %></td>
        <td class="col-md-1"><%= HorarioEntrega.find(pedido.horario_entrega).nombre %></td>
        <td class="col-md-1"><span class="<%= pedido.estado.downcase %>_label"><%= pedido.estado.upcase %></span></td>
        <td class="col-md-1">
          <% pedido.items_json.each do |item| %>
          <div>
            <a href="/productos/<%= item.producto.id %>" target="_blank">
              <img src="<%= item.producto.foto_url %>" width="100" /> <%= item.cantidad %> - <%= item.producto.nombre %>
            </a>
          </div>
          <% end %>
        </td>
        <td class="col-md-1"><%= link_to 'Ver', pedido, :class => 'btn btn-info', :remote => true %></td>
        <td class="col-md-1"><%= link_to 'Edit', edit_pedido_path(pedido), :class => 'btn btn-info' %></td>
        <td class="col-md-1"><%= link_to 'Destroy', pedido, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<!--<%= link_to 'New Pedido', new_pedido_path, :class => 'btn btn-primary' %>-->

<div id="detallePedido">
</div>

<script>
  $('.datepicker').datepicker({
    dateFormat: 'yy-mm-dd'
  });
</script>