<p id="notice"><%= notice %></p>

<h1>Listado de Pedidos</h1>

<div id="filtros">
  <form action="<%= pedidos_path %>">
      <div class="col-md-4">
        <label class="col-form-label-sm">Estado</label>
        <select class="form-control" name="estado">
            <option value="">TODOS</option>
          <% @estados.each do |estado| %>
            <option value="<%= estado.upcase %>"><%= estado.upcase %></option>
          <% end %>
          </select>
      </div>
      <div class="col-md-4">
        <label class="col-form-label-sm">Desde</label>
        <input class="form-control datepicker" type="text" name="from" value="<%= @from %>" />
      </div>
      <div class="col-md-4">
        <label class="col-form-label-sm">Hasta</label>
        <input class="form-control datepicker" type="text" name="to" value="<%= @to %>" />
      </div>
      <div class="col-md-12">
          <label class="col-form-label-sm"></label>
        <button type="submit" class="btn btn-primary btn-block">Filtrar</button>
      </div>
  </form>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
      <th scope="col">Horario de entrega</th>*
      <th scope="col">Costo entrega</th>
      <th scope="col">Nombre entrega</th>
      <th scope="col">De</th>
      <th scope="col">Para</th>
      <th scope="col">Mensaje</th>
      <th scope="col">Sector entrega</th>
      <th scope="col">Direccion entrega</th>
      <th scope="col">Instrucciones entrega</th>
      <th scope="col">Fecha entrega</th>
      <th scope="col">Forma de Pago</th>
      <th scope="col">Precio</th>
      <th scope="col">Estado</th>
      <th scope="col">Items</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td class="col-md-1"><%= pedido.fecha %></td>
        <td class="col-md-1"><%= pedido.nombre %></td>
        <td class="col-md-1"><%= pedido.email %></td>
        <td class="col-md-1"><%= pedido.telefono %></td>
        <td class="col-md-1"><%= pedido.horario_entrega %></td>
        <td class="col-md-1"><%= pedido.costo_entrega %></td>
        <td class="col-md-1"><%= pedido.nombre_entrega %></td>
        <td class="col-md-1"><%= pedido.de %></td>
        <td class="col-md-1"><%= pedido.para %></td>
        <td class="col-md-1"><%= pedido.mensaje %></td>
        <td class="col-md-1"><%= pedido.sector_entrega %></td>
        <td class="col-md-1"><%= pedido.direccion_entrega %></td>
        <td class="col-md-1"><%= pedido.instrucciones_entrega %></td>
        <td class="col-md-1"><%= pedido.fecha_entrega.to_s %></td>
        <td class="col-md-1"><%= pedido.forma_pago_str %></td>
        <td class="col-md-1"><%= pedido.total %></td>
        <td class="col-md-1"><span class="<%= pedido.estado.downcase %>_label"><%= pedido.estado %></span></td>
        <td class="col-md-1">
          <% pedido.items_json.each do |item| %>
          <div>
            <img src="<%= item.producto.foto_url %>" width="100" /> <%= item.cantidad %> - <%= item.producto.nombre %>
          </div>
          <% end %>
        </td>
        <td class="col-md-1"><%= link_to 'Show', pedido, :class => 'btn btn-info' %></td>
        <td class="col-md-1"><%= link_to 'Edit', edit_pedido_path(pedido), :class => 'btn btn-info' %></td>
        <td class="col-md-1"><%= link_to 'Destroy', pedido, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<!--<%= link_to 'New Pedido', new_pedido_path, :class => 'btn btn-primary' %>-->

<script>
  $('.datepicker').datepicker({
    dateFormat: 'yyyy-mm-dd'
  });
</script>