<p id="notice"><%= notice %></p>

<h1>Listing Producto Cosas</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Cosa</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @producto_cosas.each do |producto_cosa| %>
      <tr>
        <td><%= producto_cosa.cosa.nombre %></td>
        <td><%= producto_cosa.producto.nombre %></td>
        <td><%= producto_cosa.cantidad %></td>
        <td><%= link_to 'Show', producto_cosa %></td>
        <td><%= link_to 'Edit', edit_producto_cosa_path(producto_cosa) %></td>
        <td><%= link_to 'Destroy', producto_cosa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto cosa', new_producto_cosa_path %>
