<%= form_for(@empaque) do |f| %>
  <% if @empaque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empaque.errors.count, "error") %> prohibited this empaque from being saved:</h2>

      <ul>
      <% @empaque.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
