<div class="container">
	<div id="filtros" class="panel panel-default">
	<div class=panel-healding>
		<img width="100" src="<%= @producto.foto_url %>" />
		<span><%= @producto.nombre %></span>
	</div>
		<div class=panel-body>
			<form>
				<div class="col-md-6">
				<label class="col-form-label-sm">Nombre</label>
				<input type="text" name="nombre" value="<%= @nombre %>" class="form-control" /> 
				</div>
				<div class="col-md-6">
					<label class="col-form-label-sm bg-green"></label>
				<button type="submit" class="btn btn-success btn-block">VER</button>
				</div>
			</form>
		</div>
	</div>
	<%= form_for('', url: inventario_producto_path) do |f| %>
		<table class="table table-bordered table-striped">	
			<thead>
			    <tr>
			      <th>Cosa</th>
			      <th>Cantidad</th>
			    </tr>
		  	</thead>

		  	<tbody>
			<% @cosas.each do |cosa| %>
			
				<tr>
					<td width="70%"><%= cosa.cosa.nombre %></td>
					<td width="30%">
						<input type="text" 
							class="form-control input-sm text-center spinner" 
							name="cosa<%= cosa.cosa.id %>"
							value="<%= cosa.cantidad %>">
					</td>
				</tr>
			<% end %>
		</tbody>
		</table>
		<button type="submit" class="btn btn-info btn-block">GUARDAR</button>
	<% end %>
</div>