<div class="row">
  <h4 class="m_11"><b>Productos que te podrían interesar</b></h4>
  <% Producto.all.sample(3).each do |producto| %>
      <div class="col-md-4 product1">
        <a href="/productos/<%= producto.id %>">
          <img src="<%= producto.foto_url %>" class="img-responsive" alt=""/>
        </a>
        <div class="shop_desc">
          <h3><a href="/productos/<%= producto.id %>"><%= producto.nombre %></a></h3>
          <p><%= producto.descripcion[0..35].html_safe %> ...</p>
          <br />
          <span class="reducedfrom">$<%= (producto.precio_original).round %></span>
          <span class="actual">$<%= producto.precio %></span><br>
          <ul class="buttons">
            <li class="cart"><%= link_to "Agregar", add_to_cart_path(:product_id => producto.id), :method => :post %></li>
            <li class="shop_btn"><a href="/productos<%= producto.id %>">Más <%= ENV['config.add.to.cart'] %></a></li>
            <div class="clear"> </div>
          </ul>
        </div>
      </div>
  <% end %>
</div>