<div class="pedido" style="margin-bottom: 10px">
  <div style="width: 60%; float: left; margin-bottom: 10px">
    <h2>Detalle del Pedido</h2>
    <p style="font-size: x-small">
      <% if @pedido.id %>
        EC-MBG-00<%= @pedido.id %><br />
      <% end %>
      Realizado el <b><%= @pedido.fecha %></b><br />
      Realizado por: <b><%= @pedido.nombre %></b><br />
      Email: <b><%= @pedido.email %></b><br />
      Teléfono: <b><%= @pedido.telefono %></b><br />
      Forma de Pago: <b><%= @pedido.forma_pago_str %></b><br />
      <br />
      Dirección Entrega: <b><%= @pedido.direccion_entrega %></b><br />
      Entregar a: <b><%= @pedido.nombre_entrega %></b><br />
      Fecha de entrega: <b><%= @pedido.fecha_entrega %></b><br />
      Mensaje de la Tarjeta: <b><%= @pedido.mensaje %></b><br />
    </p>
  </div>
  <% if @pedido.forma_pago && @pedido.estado.eql?('Borrador') %>
    <div class="columna" style="width: 350px; text-align: left; float: left;margin-bottom: 10px">
      <% case @pedido.forma_pago
          when 'T' %>
          <h2>Transferencia Bancaria</h2>
          <p style="font-size: x-small">
            Banco:<b>Pichincha</b><br />
            Cuenta Ahorros:<b>4898249800</b><br />
            Nombre:<b>Daniela López</b><br />
            CI:<b>1720729134</b><br /><br />
            <i>Envianos un correo confirmando la transferencia a <b>info@regalosmalebox.com</b></i>
          </p>
        <% when 'D' %>
          <h2>Pago mediante Depósito</h2>
          <p style="font-size: x-small">
            Banco:<b>Pichincha</b><br />
            Cuenta Ahorros:<b>4898249800</b><br />
            Nombre:<b>Daniela López</b><br />
            CI:<b>1720729134</b><br /><br />
            <i>Cuando hayas realizado el depósito infórmanos a <b>info@regalosmalebox.com</b> o mediante llamada o mensaje a <b>098 4454 854 - 099 6554 568</b></i>
          </p>
        <% when 'E' %>
          <h2>Pago en Efectivo</h2>
          <p style="font-size: x-small">
            Luego de confirmar tu pedido, acércate al punto <b>MaleBox</b> en:<br /><br />
            Ignacio Asín y Vicente Heredia, Sector San Fernando Edificio Dickens / Quito - Ecuador
          </p>
        <% when 'TC' %>
          <h2>Pago mediante Tarjeta de Crédito</h2>
          <p style="font-size: x-small">
            En breves minutos recibirás un <b>E-mail</b> que te permitirá realizar el pago<br />
            Aceptamos<br />
           <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/7/005/08f/1b0/1427c02.png" alt="Diners Club"><span style="margin-left:3px"></span>
           <img src="http://files.softicons.com/download/business-icons/credit-cards-icon-set-by-yootheme/png/48x48/discover.png" alt="Discover"><span style="margin-left:3px"></span>
           <img src="https://cdn0.iconfinder.com/data/icons/48_px_web_icons/48/credit_visa.png" alt="Visa"><span style="margin-left:3px"></span>
           <img src="http://www.fancyicons.com/download/?id=3276&t=png&s=48" alt="Mastercard"><br />           
          </p>

        <% when 'PP' %>
          <h2>Pago con PayPal</h2>
          <p>
          </p>
    <% else %>
          No se ha escogido ninguna forma de pago, por favor llame a malebox
      <% end %>

    </div>
  <% end %>
  <% if @pedido && !@pedido.estado.eql?('Borrador') %>
      <div class="columna" style="max-width: 300px;">
        <b>ESTADO</b><br />
        <div class="<%= @pedido.estado.downcase %>_label"><%= @pedido.estado.capitalize %></div>
      </div>
  <% end %>
  <div class="cabecera" style="background-color: transparent; border: 1px #EEEEEE solid;float:left;padding-bottom: 0">
    <div style="float: right; text-align: center">
      <b>RESUMEN</b><br /><br />
      <div style="text-align: right; float: right; margin: 0 40px;">
        $ <%= @pedido.total_items.to_f %><br />
        <span style="color:orange">- $ <%= @pedido.total_descuento.to_f %></span><br />
        $ <%= @pedido.costo_entrega.to_f %><br />
        $ 0.0<br />
        <br /><b>$ <%= @pedido.total %></b>
      </div>
      <div style="text-align: left; float: right">
        Productos:<br />
        <span style="color:orange">Descuento:</span><br />
        Entrega: <br />
        Impuestos: <br />
        <br /><b>TOTAL:</b>
      </div>

    </div>
    <div class="contenido" style="padding-bottom: 0">
      <% @pedido.items_json.each do |item| %>
          <div class="item">

            <div style="float: left; width: 15%; min-width: 105px">
              <a href="/productos/<%= item.producto.id %>">
                <img src="<%= item.producto.foto_url %>" style="width: 80%; min-width: 100px"/>
              </a>
            </div>

            <div style="float: left; margin-top: 10px">
              <div>
                <a href="/productos/<%= item.producto.id %>">
                  <%= item.cantidad %> caja<%if item.cantidad > 1 %>s<% end %> de <%= item.producto.nombre %>
                </a>
              </div>
              <div style="color: grey; font-size: smaller">
                precio original: $ <%= item.producto.precio_original.to_f * item.cantidad.to_i %>
              </div>
              <% if !@pedido.forma_pago.eql?('TC') %>
                  <div style="color: black">
                    precio descuento: $ <%= item.producto.precio.to_f * item.cantidad.to_i %>
                  </div>
              <% end %>
              <div>

              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>