<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Malebox - Administrador</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
  <link href="/css/general.css" rel='stylesheet' type='text/css' />
  <link href="/css/datepicker.css" rel='stylesheet' type='text/css' />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
</head>
<body>
	
	<% if usuario_signed_in? %>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand"><img src="/images/malebox.jpg" width="30"> </span>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'PEDIDOS', pedidos_path(from: (@today - 1.month).to_s) %></li>
          <li><%= link_to 'PRODUCTOS', admin_productos_path %></li>
          <li><%= link_to 'INVENTARIO', inventario_cosas_path %></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PRODUCTOS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Catalogo', admin_productos_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Composición', inventario_productos_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Categorias', categoria_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Categoria-Productos', categoria_productos_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Productos-Cosas', producto_cosas_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Fotos', fotos_path %></li>

            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INVENTARIO<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Stock', inventario_cosas_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Catalogo', cosas_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Registros', inventario_cosa_registros_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EMPAQUES<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Empaques', empaques_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Tapas', tapas_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USUARIOS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Usuarios', usuarios_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Cambiar Datos', edit_usuario_registration_path %></li>
            </ul>
          </li>
          <li><%= link_to 'Salir', destroy_usuario_session_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


	<% else %>
		<%= link_to 'Ingresar', new_usuario_session_path %>
	<% end %>

	<%= yield %>

</body>
<% if !flash.empty? %>
    <div id="messagesModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Información</h4>
          </div>
          <div class="modal-body">
            <p><%= notice %> <%= alert %>…</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
      $('#messagesModal').modal()
    </script>
<% end %>
</html>
